body {
    background-image: url(https://i.ibb.co/gZPby81/c46c086c-0d27-413a-8cc9-25227cc98290.jpg); /* Color de fondo */
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el contenedor cubra toda la pantalla */
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white; /* Fondo del cuadro */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    width: 400px;
    text-align: center; /* Centra el contenido dentro del cuadro */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.login-container{
    background-color: white;
    border: #b0b0b0 solid 3px;
    border-radius: 10px;
    margin: 100px;
}