html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    overflow-x: hidden; /* Evitar el scroll horizontal */
    box-sizing: border-box; /* Evitar que el padding o bordes excedan el ancho */
}

.empleado {
    color: blue;
}

/* Estilos del Navbar */
.navbar {
    background-color: #fedf9c;
    height: 70px;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box; /* Evita que se desborde */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-left: 15px;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}